/**
 * Site header
 */
.site-header {
	margin-top: 20px;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

	a#logo {
		background: url(../images/logo.svg) no-repeat;
		background-size: cover;
		height: 40px;
		width: 570px;
		display: block;
		border: none;

		@include media-query($on-laptop){
			background: url(../images/logo-no-slogan.svg) no-repeat;
			background-size: cover;
			width: 150px;
			height: 40px;
		}

		@include media-query($on-palm){
			margin-left: 15px;
		}
	}

}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: Helvetica;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


div.spread {
	width: 100%;
	height: auto;
	border: 1px solid #d6d6d6;
	margin: 0 auto;
	padding: 3px;

	/*@media screen and (min-width: 1000px) {
		width: 100%;
		border: none;

		div.spread-page {
			&.page-a {
				width: 450px;
				height: auto;
			}
			&.page-b {
			}
		}
	}*/

	div.spread-page {
		width: 47%;
		height: 100%;

		&.page-a {
			float: left;
		}

		&.page-b {
			float: right;
			border-left: 1px solid #000000;
		}
	}


	&.home {
		border: none;
		margin-left: -62px;

		@include media-query($on-laptop){
			margin-left: 0;
		}

		div.spread-page {
			&.page-a {
				background: #BD2A4E;
				width: 49%;

				@include media-query($on-palm){
					display: none;
				}

				h1 {
					font-size: 3rem;
					font-style: italic;
					color: #ffffff;
					padding: 0 40px 0 0;
					text-align: center;

					span.quote-attrib {
						display: block;
						font-size: 2rem;
						margin-top: 30px;
					}

					@include media-query($on-laptop){
						font-size: 2.5rem;
					}

					@include media-query($on-tablet){
						font-size: 2rem;
						padding-right: 0;
					}
				}
			}

			&.page-b {
				border: none;
				padding-top: 20px;
				color: #ffffff;

				@include media-query($on-palm){
					width: 100%;
				}

				p, img {
					padding: 0;

					@include media-query($on-palm){
						padding: 0 15px;
					}
				}

				img {
					width: 65px;
					padding-left: 20px;
					padding-bottom: 15px;
				}

			}
		}

	}


}

.catalog-course {
	h5 {
		text-transform: uppercase;
		color: #666666;
		margin: 15px 0 10px 0;
	}
}

nav.course-nav {
	ul {
		list-style: none;

		li {
			display: inline-block;

			a {
				color: #000000;
			}
		}
	}
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

#footer-logo {
  width: 274px;
  display: inline-block;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
	background: #ffffff;
    padding: $spacing-unit 0;

	@include media-query($on-palm){
		padding-top: 0;
	}
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        color: #BD2A4E;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
